:root {
    --pink-color: #FF6EFF;
    --dark-pink-color: #ff70ff;
    --sky-blue-color: #57F3FF;
    --dark-blue-color: #160646;
    --white-color: #ffffff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Kode Mono", monospace;
    width: 100%;

    background-image: url("images/bg-main.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

li {
    display: inline-block;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--white-color);
}

.header-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
}

.nav-link {
    color: var(--dark-pink-color);
}

.nav-item {
    margin: 0 1rem;
}

.active {
    color: var(--sky-blue-color);
    font-weight: bolder;
}

.search-bar-header a i {
    margin-left: .3rem;
}

.search-bar-header a {
    margin: 0 .3rem;
}

.title-left-main-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.title-left-main-box p {
    font-size: 1.5rem;
    font-weight: bolder;
}

.title-first-para {
    color: var(--white-color);
}

.title-second-para {
    color: var(--sky-blue-color);
}

.title-left-main-box p {
    text-align: center;
}

.right-main-box {}

.content-left-main-box h1 {
    width: 50%;
    color: var(--pink-color);
    margin-top: 1rem;
}

.content-left-main-box p {
    margin-top: 1rem;
    color: var(--white-color);
    width: 70%;
}

.content-left-main-box-button {
    border: none;
    color: var(--dark-blue-color);
    background-color: var(--sky-blue-color);
    border-radius: 20px;
    padding: .5rem 1rem;
    font-size: .75rem;
    margin-top: 1rem;
    font-weight: bolder;
}


.banner-main {
    box-shadow: 0px 0px 40px -4px rgba(247, 52, 247, 1);
    border-radius: 30px;
    border: 1px solid var(--pink-color);
    position: relative;
}

.banner-main {
    width: 100%;
    height: 100%;
}

.right-main-box {
    position: relative;
}

.right-main-box-button {
    position: absolute;
    padding: .5rem 1rem;
    right: 30px;
    top: 18rem;
    z-index: 1;
    border: none;
    color: var(--white-color);
    background-color: var(--pink-color);
    border-radius: 20px;
    padding: .5rem 1rem;
    font-size: .75rem;
    font-weight: bolder;
}